body{
    margin-top:40px !important;
    margin-bottom: 40px !important;
    background:#111 !important;
    background-image: url('images/bg.jpg') !important;
}

.logout{
    margin-right: 20px !important;
    background-color: red !important;
}
:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }

  .card-title{
    align-items: center;
  }
.card{
  margin: 30px;
  background-clip:padding-box;
  background-color: rgba(255,255,255,0.1) !important;
  border: 3px solid #dd2476 !important;
}
.card-img-top {
width: 100%;
height: 200px;
object-fit: cover;
}
.card-body{
    background-color: transparent !important;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

.btn{
    background:linear-gradient(45deg, #f15523, #ef3224, #7c3697)!important;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.btn:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}
.card-buttons {
display: flex;
justify-content: space-between;
}

.create-button {
background-color: #28a745 ;
color: white !important;
transition: background-color .2s ease-in-out !important;
}

.create-button:hover {
background-color: #218838 !important;
}

.view-button {
background-color: #007bff !important;
color: white !important;
transition: background-color .5s ease-in-out !important;
}

.view-button:hover {
background-color: #0056b3 !important;
}

.card-title{
    color:whitesmoke !important;
}

/* Responsive styles */
@media (max-width: 992px) {
.card {
width: 100%;
}
}
