body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.nav-links a:hover {
    color: #bbb;
}

.btn {
    background-color: #fff;
    color: #333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-primary {
    background-color: #337ab7;
    color: #fff;
}

.btn-secondary {
    background-color: #5bc0de;
    color: #fff;
}
